/* Custom styles for the form */
body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 8px;
}

.card-header {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

.btn-outline-primary {
    border-radius: 50px;
}

.medication-item {
    position: relative;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff;
}

.medication-item .edit-medication {
    position: absolute;
    top: 10px;
    right: 50px;
    color: #007bff;
    background: none;
    border: none;
    font-size: 1rem;
}

.medication-item .delete-medication {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #dc3545;
    background: none;
    border: none;
    font-size: 1rem;
}

.medication-item:hover .edit-medication,
.medication-item:hover .delete-medication {
    cursor: pointer;
}

@media (max-width: 767px) {
    .form-row .form-group {
        margin-bottom: 1rem;
    }
}
